*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: var(--font-size-root);
}

:root {
  --font-size-root: 16px;
  --font-size-small: 1.125rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 3rem;
  --color-1: #6b59d0;
  --color-2: #deddeb;
  --color-3: #ffffff;
  --color-4: #374151;
  --color-5: #6b7280;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    flex: 0  14rem;
}


/* TYPOGRAPHY */
.small-title {
  color: var(--color-1);
  font-size: var(--font-size-medium);
  font-weight: 700;
}
.large-title {
  color: var(--color-4);
  font-size: var(--font-size-large);
  font-weight: 800;
}
.feature__title, .feature__description {
    color: var(--color-4);
    font-size: var(--font-size-small);
}

.highlight {
    color: var(--color-1);
    font-weight: 600;
}
